<%- include('./parts/header') %>
    <div class="container">
      <div class="d-inline-block">
        <h6>You have below list of grocery for selection</h6>
      </div>
      <div class="d-inline-block pull-right">
        <span>
          <a href="/add" type="button" class="btn btn-primary float-right"><i class="fa fa-plus" aria-hidden="true"></i></a>
        </span>
      </div>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Cost</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody id = "tableData">
      <% if(groceries.length > 0){ %>
      <% groceries.forEach((grocery) => { %>
        <tr><td><img src=<%= grocery.imgUrl %>></td>
          <td><%= grocery.name %></td>
          <td><%= grocery.quantity %></td>
          <td><%= grocery.cost %></td>
          <td><a href="delete/<%= grocery.id %>" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
            <a href="update/<%= grocery.id %>" class="btn btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
        </tr>
      <% }); %>
      <% } else{ %>
        <tr><td colspan="4" class="text-center">No data is available</td></tr>
      <% } %>
      </tbody>
    </table>
    <div id="totalPrice" class="font-weight-bold float-right">Sum: <%= price.total %></div>
    <%- include('./parts/tail') %>